.menu > li
{
  float: left;
}
.menu li
{
  background: #222221;
  color: #888888;
  display: block;
  border: 0px solid #000000;
  padding: 2px 10px;
  margin-top: 0px;

  

}

.menu li:hover
{
  background: #000000;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.menu li ul
{
  display: none;
  position: absolute;
  min-width: 100;
}

.menu li:hover >ul
{
  display: block;
}